-- MySQL dump 10.13  Distrib 8.0.44, for Linux (x86_64)
--
-- Host: 127.0.0.1    Database: favorite_db
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `exchange_offer`
--

DROP TABLE IF EXISTS `exchange_offer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `exchange_offer` (
  `exchange_offer_id` bigint NOT NULL AUTO_INCREMENT,
  `listing_id` bigint NOT NULL,
  `seller_user_id` bigint NOT NULL,
  `offer_user_id` bigint NOT NULL,
  `requested_user_card_id` bigint NOT NULL,
  `offered_user_card_id` bigint NOT NULL,
  `status` varchar(20) NOT NULL,
  `reg_date` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `upt_date` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`exchange_offer_id`),
  KEY `idx_exchange_listing` (`listing_id`),
  KEY `idx_exchange_seller` (`seller_user_id`),
  KEY `idx_exchange_offer_user` (`offer_user_id`),
  KEY `fk_exchange_req_card` (`requested_user_card_id`),
  KEY `fk_exchange_off_card` (`offered_user_card_id`),
  CONSTRAINT `fk_exchange_listing` FOREIGN KEY (`listing_id`) REFERENCES `listing` (`listing_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_exchange_off_card` FOREIGN KEY (`offered_user_card_id`) REFERENCES `user_card` (`user_card_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_exchange_offer_user` FOREIGN KEY (`offer_user_id`) REFERENCES `user` (`user_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_exchange_req_card` FOREIGN KEY (`requested_user_card_id`) REFERENCES `user_card` (`user_card_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_exchange_seller` FOREIGN KEY (`seller_user_id`) REFERENCES `user` (`user_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `exchange_offer`
--

LOCK TABLES `exchange_offer` WRITE;
/*!40000 ALTER TABLE `exchange_offer` DISABLE KEYS */;
/*!40000 ALTER TABLE `exchange_offer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `listing`
--

DROP TABLE IF EXISTS `listing`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `listing` (
  `listing_id` bigint NOT NULL AUTO_INCREMENT,
  `user_card_id` bigint NOT NULL,
  `seller_user_id` bigint NOT NULL,
  `sale_type` varchar(20) NOT NULL,
  `status` varchar(20) NOT NULL,
  `quantity` int NOT NULL,
  `price_per_unit` int DEFAULT NULL,
  `desired_grade` varchar(20) DEFAULT NULL,
  `desired_genre` varchar(20) DEFAULT NULL,
  `desired_desc` text,
  `reg_date` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `upt_date` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`listing_id`),
  KEY `idx_listing_user_card` (`user_card_id`),
  KEY `idx_listing_seller` (`seller_user_id`),
  CONSTRAINT `fk_listing_seller` FOREIGN KEY (`seller_user_id`) REFERENCES `user` (`user_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_listing_user_card` FOREIGN KEY (`user_card_id`) REFERENCES `user_card` (`user_card_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `listing`
--

LOCK TABLES `listing` WRITE;
/*!40000 ALTER TABLE `listing` DISABLE KEYS */;
INSERT INTO `listing` VALUES (1,1,1,'SELL','ACTIVE',5,30,'LEGEND','φÆìΩ▓╜','∞╡£Ω│á∞¥ÿ ∞é¼∞ºäδºî Ω╡ÉφÖÿφò⌐δïêδïñ.','2026-01-30 07:21:13','2026-01-31 02:34:33'),(2,2,2,'SELL','ACTIVE',2,100,'Rare','φÆìΩ▓╜','∞é¼∞ºä δ⌐ï∞ºÇδäñ...','2026-01-30 07:21:13','2026-01-30 08:35:27'),(3,12,4,'SELL','SOLD_OUT',0,100,'Rare',NULL,NULL,'2026-01-31 03:27:09','2026-02-01 08:45:38'),(4,4,1,'SELL','ACTIVE',1,100,'Rare',NULL,NULL,'2026-01-31 03:40:09','2026-02-01 08:45:41'),(5,3,1,'SELL','ACTIVE',1,50,'Rare',NULL,NULL,'2026-01-31 03:50:54','2026-02-01 08:45:43');
/*!40000 ALTER TABLE `listing` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notification`
--

DROP TABLE IF EXISTS `notification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notification` (
  `notification_id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `type` varchar(40) NOT NULL,
  `entity_type` varchar(30) DEFAULT NULL,
  `entity_id` bigint DEFAULT NULL,
  `is_read` tinyint(1) NOT NULL DEFAULT '0',
  `reg_date` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`notification_id`),
  KEY `idx_notification_user` (`user_id`),
  CONSTRAINT `fk_notification_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notification`
--

LOCK TABLES `notification` WRITE;
/*!40000 ALTER TABLE `notification` DISABLE KEYS */;
/*!40000 ALTER TABLE `notification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `oauth_accounts`
--

DROP TABLE IF EXISTS `oauth_accounts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `oauth_accounts` (
  `oauth_account_id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `provider` varchar(20) NOT NULL,
  `provider_user_id` varchar(255) NOT NULL,
  `reg_date` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`oauth_account_id`),
  UNIQUE KEY `uk_oauth_provider_user` (`provider`,`provider_user_id`),
  KEY `idx_oauth_user` (`user_id`),
  CONSTRAINT `fk_oauth_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `oauth_accounts`
--

LOCK TABLES `oauth_accounts` WRITE;
/*!40000 ALTER TABLE `oauth_accounts` DISABLE KEYS */;
/*!40000 ALTER TABLE `oauth_accounts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `photo_card`
--

DROP TABLE IF EXISTS `photo_card`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `photo_card` (
  `photo_card_id` bigint NOT NULL AUTO_INCREMENT,
  `creator_user_id` bigint NOT NULL,
  `name` varchar(120) NOT NULL,
  `description` text,
  `genre` varchar(20) NOT NULL,
  `grade` varchar(20) NOT NULL,
  `min_price` int NOT NULL DEFAULT '0',
  `total_supply` int NOT NULL,
  `image_url` varchar(255) NOT NULL,
  `reg_date` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `upt_date` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`photo_card_id`),
  KEY `idx_photocard_creator` (`creator_user_id`),
  CONSTRAINT `fk_photocard_creator` FOREIGN KEY (`creator_user_id`) REFERENCES `user` (`user_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `photo_card`
--

LOCK TABLES `photo_card` WRITE;
/*!40000 ALTER TABLE `photo_card` DISABLE KEYS */;
/*!40000 ALTER TABLE `photo_card` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `point_box_draw`
--

DROP TABLE IF EXISTS `point_box_draw`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `point_box_draw` (
  `point_box_draw_id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `point_history_id` bigint NOT NULL,
  `earned_points` int NOT NULL,
  `reg_date` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`point_box_draw_id`),
  KEY `idx_draw_user` (`user_id`),
  KEY `idx_draw_point_history` (`point_history_id`),
  CONSTRAINT `fk_draw_point_history` FOREIGN KEY (`point_history_id`) REFERENCES `point_history` (`point_history_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_draw_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=87 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `point_box_draw`
--

LOCK TABLES `point_box_draw` WRITE;
/*!40000 ALTER TABLE `point_box_draw` DISABLE KEYS */;
/*!40000 ALTER TABLE `point_box_draw` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `point_history`
--

DROP TABLE IF EXISTS `point_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `point_history` (
  `point_history_id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `amount` int NOT NULL,
  `type` varchar(30) NOT NULL,
  `ref_entity_type` varchar(30) DEFAULT NULL,
  `ref_entity_id` bigint DEFAULT NULL,
  `reg_date` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`point_history_id`),
  KEY `idx_point_user` (`user_id`),
  CONSTRAINT `fk_point_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=118 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `point_history`
--

LOCK TABLES `point_history` WRITE;
/*!40000 ALTER TABLE `point_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `point_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `purchase`
--

DROP TABLE IF EXISTS `purchase`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `purchase` (
  `purchase_id` bigint NOT NULL AUTO_INCREMENT,
  `buyer_user_id` bigint NOT NULL,
  `listing_id` bigint NOT NULL,
  `quantity` int NOT NULL,
  `unit_price` int NOT NULL,
  `total_price` int NOT NULL,
  `reg_date` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`purchase_id`),
  KEY `idx_purchase_buyer` (`buyer_user_id`),
  KEY `idx_purchase_listing` (`listing_id`),
  CONSTRAINT `fk_purchase_buyer` FOREIGN KEY (`buyer_user_id`) REFERENCES `user` (`user_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_purchase_listing` FOREIGN KEY (`listing_id`) REFERENCES `listing` (`listing_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `purchase`
--

LOCK TABLES `purchase` WRITE;
/*!40000 ALTER TABLE `purchase` DISABLE KEYS */;
INSERT INTO `purchase` VALUES (2,1,2,1,100,100,'2026-01-30 08:35:27'),(3,1,1,1,30,30,'2026-01-30 08:35:54'),(4,1,1,1,30,30,'2026-01-30 08:47:09'),(5,4,1,1,30,30,'2026-01-31 01:38:20'),(6,2,1,1,30,30,'2026-01-31 02:34:33'),(7,1,3,1,100,100,'2026-01-31 03:52:00');
/*!40000 ALTER TABLE `purchase` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `user_id` bigint NOT NULL AUTO_INCREMENT,
  `email` varchar(255) NOT NULL,
  `nickname` varchar(20) NOT NULL,
  `password_hash` varchar(255) DEFAULT NULL,
  `points` int NOT NULL DEFAULT '0',
  `reg_date` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `upt_date` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `uk_user_email` (`email`),
  UNIQUE KEY `uk_user_nickname` (`nickname`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
INSERT INTO `user` VALUES (1,'tseon@opuscore.net','Taeyoung Seon','$2a$10$k0wxTKbV1gDk.th3AxHNcepu7zFLFxRZqocO12n5n7.XltfoqHmxW',660,'2026-01-30 07:06:49','2026-01-31 03:52:00'),(2,'test@example.com','ohmani','$2a$10$k0wxTKbV1gDk.th3AxHNcepu7zFLFxRZqocO12n5n7.XltfoqHmxW',670,'2026-01-30 07:06:49','2026-01-31 02:34:33'),(4,'itmusicassociation@gmail.com','itmusic association',NULL,1070,'2026-01-31 01:37:25','2026-01-31 03:52:00');
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_card`
--

DROP TABLE IF EXISTS `user_card`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_card` (
  `user_card_id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `photo_card_id` bigint NOT NULL,
  `quantity` int NOT NULL DEFAULT '0',
  `reg_date` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `upt_date` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`user_card_id`),
  UNIQUE KEY `uk_user_photocard` (`user_id`,`photo_card_id`),
  KEY `idx_usercard_user` (`user_id`),
  KEY `idx_usercard_photocard` (`photo_card_id`),
  CONSTRAINT `fk_usercard_photocard` FOREIGN KEY (`photo_card_id`) REFERENCES `photo_card` (`photo_card_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_usercard_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_card`
--

LOCK TABLES `user_card` WRITE;
/*!40000 ALTER TABLE `user_card` DISABLE KEYS */;
INSERT INTO `user_card` VALUES (1,1,1,6,'2026-01-30 07:18:28','2026-01-31 03:52:00'),(2,1,2,3,'2026-01-30 07:19:00','2026-01-30 08:35:27'),(3,1,3,3,'2026-01-30 07:19:20','2026-01-30 07:19:20'),(4,1,4,4,'2026-01-30 07:19:34','2026-01-30 07:19:34'),(5,2,1,5,'2026-01-30 07:19:34','2026-01-31 02:34:33'),(6,2,3,4,'2026-01-30 07:19:34','2026-01-30 07:19:34'),(7,2,2,4,'2026-01-30 07:19:34','2026-01-30 07:19:34'),(8,2,4,4,'2026-01-30 07:19:34','2026-01-30 07:19:34'),(12,4,1,0,'2026-01-31 01:38:20','2026-01-31 03:52:00');
/*!40000 ALTER TABLE `user_card` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-02  3:29:53
